*.DS_Store
*.pyc
build
dist
RADWave.egg-info
docs/_build
Notebooks/.ipynb_checkpoints/*
RADWave/Notebooks/.ipynb_checkpoints/*
RADWave/Notebooks/notebooks/.ipynb_checkpoints/*
Notebooks/notebooks/.ipynb_checkpoints/*.ipynb
